﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Home/TrangGioiThieu", false);
}

<!DOCTYPE html>
<html>
<head>
    <title>Quản Lý Sổ Tiết Kiệm Cá Nhân</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/w3.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>

</head>
<body class="w3-light-grey">
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey " onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <div class="w3-right ">
            @Html.ActionLink("Trang Chủ", "Index", "STKs", null, htmlAttributes: new { style = "font-size:35px",@class="w3-text-white" })
        </div>
        


    </div>
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                @*<img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">*@
            </div>
            <div class="w3-col s8 w3-bar">
                <span>Xin chào !!, <strong>@User.Identity.GetUserName()</strong></span><br>
                <a href="~/Manage/ChangePassword" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h5>Quản Lý Sổ Tiết Kiệm</h5>
        </div>
        <div class="w3-bar-block">
            <a href="~/STKs/Create" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> Thêm số tiết kiệm </a>
            <a href="~/STKs/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Xem sổ tiết kiệm </a>
            @*<button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>*@
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
            {
                @Html.AntiForgeryToken()

                <a href="javascript:document.getElementById('logoutForm').submit()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-out fa-fw"></i> Đăng Xuất</a>
            }
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large  w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>

        </div>
    </nav>
    <div class="w3-main w3-container" style="margin-left:300px;margin-top:43px;">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
