﻿@model MoneyLoverTUBUI.STK

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>STK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NganHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NganHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTienGoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTienGoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KyHanGui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KyHanGui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaiSuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaiSuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaiSuatKhongKyHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaiSuatKhongKyHan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraLai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraLai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhiDenHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhiDenHan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.IdSTK }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
