﻿@model MoneyLoverTUBUI.STK
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sửa Thông Tin Sổ</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>STK</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdSTK)

        <div class="form-group w3-hide">
            @Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
             
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NganHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.NganHang, new { htmlAttributes = new { @class = "form-control" } })*@
                <select name="NganHang" class="form-control" required>
                    <option value="ACB">ACB</option>
                    <option value="Vietcombank">Vietcombank</option>
                    <option value="ArgiBank">ArgiBank</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.NganHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayGui, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGui, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayGui, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group w3-hide">
            @Html.LabelFor(model => model.SoTienGoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoTienGoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoTienGoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KyHanGui, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.KyHanGui, new { htmlAttributes = new { @class = "form-control" } })*@
                <select class="form-control" name="KyHanGui" required>
                    
                    <option value="Không kỳ hạn">Không kỳ hạn</option>
                    <option value="1 tháng">1 tháng</option>
                    <option value="3 tháng">3 tháng</option>
                    <option value="6 tháng">6 tháng</option>
                    <option value="12 tháng">12 tháng</option>
                </select>
                @Html.ValidationMessageFor(model => model.KyHanGui, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LaiSuat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LaiSuat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LaiSuat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LaiSuatKhongKyHan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.LaiSuatKhongKyHan, new { htmlAttributes = new { @class = "form-control" } })*@
                <select name="LaiSuatKhongKyHan" , class="form-control" required>
                    
                    <option value="0.05">0.05</option>
                </select>
                @Html.ValidationMessageFor(model => model.LaiSuatKhongKyHan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TraLai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.TraLai, new { htmlAttributes = new { @class = "form-control" } })*@
                <select name="TraLai" class="form-control" required>
                    
                    <option value="Đầu Kỳ">Đầu Kỳ</option>
                    <option value="Cuối Kỳ">Cuối Kỳ</option>
                    <option value="Định Kỳ hằng tháng">Định Kỳ hằng tháng</option>
                </select>
                @Html.ValidationMessageFor(model => model.TraLai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KhiDenHan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.KhiDenHan, new { htmlAttributes = new { @class = "form-control" } })*@
                <select name="KhiDenHan" , class="form-control" required>
                   
                    <option value="Tái tục gốc lãi">Tái tục gốc lãi</option>
                    <option value="Tái tục góc">Tái tục góc</option>
                    <option value="Tất toán">Tất toán</option>
                </select>
                @Html.ValidationMessageFor(model => model.KhiDenHan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group w3-hide">
            @Html.LabelFor(model => model.TinhTrang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhTrang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
