﻿@using MoneyLoverTUBUI.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entities db = new Entities();
    int luukq = 0;
    var iduser = "";
    if (Request.IsAuthenticated)
    {
        iduser = User.Identity.GetUserId().ToString();

    }
    else
    {
        Response.Redirect("~/Home/TrangGioiThieu", false);

    }
    int demso = db.STKs.Count(j => j.UserID.Equals(iduser));

}
<h1 class="w3-center">Tổng Sổ Tiết Kiệm</h1>
@foreach (var item in db.STKs)
{

    if (item.TinhTrang == "Open" && item.UserID == User.Identity.GetUserId())
    {
        luukq = luukq + (int)item.SoTienGoc;
    }

}
<p class="w3-center">Tổng tiền : @luukq</p>
<p class="w3-center">Tổng sổ : @demso</p>


<p>
    @*@Html.ActionLink("Them SO", "Create")*@
</p>
<div class="w3-container">
    <h2>Sổ tiết kiệm cá nhân</h2>

    <table class="w3-table w3-striped w3-border">
        <tr>
            <th>
                Ngân Hàng
            </th>

            <th>
                Số Tiền Gốc
            </th>
            <th>
                Kỳ Hạn Gửi
            </th>
            <th>
                Lãi Suất
            </th>
            <th>
                Lãi Suất Không Kỳ Hạn
            </th>
            <th>
                Ngày Gửi
            </th>
            <th>
                Tình Trạng
            </th>
            <th></th>
        </tr>
        @foreach (var item in db.STKs)
        {
            if (item.UserID == User.Identity.GetUserId() && item.TinhTrang == "Open")
            {
                <tr>
                    <td>
                        @item.NganHang
                    </td>
                    <td>
                        @item.SoTienGoc vnđ
                    </td>
                    <td>
                        @item.KyHanGui
                    </td>
                    <td>
                        @item.LaiSuat %
                    </td>
                    <td>
                        @item.LaiSuatKhongKyHan %
                    </td>
                    <td>
                        @item.NgayGui
                    </td>
                    <td>
                        @item.TinhTrang
                    </td>
                    <td>
                        <button class="w3-btn w3-yellow w3-border col-sm-3">@Html.ActionLink("Sửa", "Edit", new { id = item.IdSTK })</button>
                        @*@Html.ActionLink("Details", "Details", new { id = item.IdSTK }) |*@
                        @*<button class="w3-btn w3-yellow w3-border">@Html.ActionLink("Xóa", "Delete", new { id = item.IdSTK })</button>*@
                        <button class="w3-btn w3-yellow w3-border col-sm-3">@Html.ActionLink("Tất toán", "Tattoan", new { id = item.IdSTK })</button>
                        <button class="w3-btn w3-yellow w3-border col-sm-3">@Html.ActionLink("Gửi thêm", "Guithem", new { id = item.IdSTK })</button>
                        <button class="w3-btn w3-yellow w3-border col-sm-3">@Html.ActionLink("Rút một phần", "Rutmotphan", new { id = item.IdSTK })</button>
                    </td>
                </tr>
            }

        }
    </table>
</div>
<hr class="w3-white" />
<div class="w3-container">
    <h2>Sổ đã tất toán</h2>

    <table class="w3-table w3-striped w3-border">
        <tr>
            <th>
                Ngân Hàng
            </th>

            <th>
                Số Tiền Gốc
            </th>
            <th>
                Kỳ Hạn Gửi
            </th>
            <th>
                Lãi Suất
            </th>
            <th>
                Lãi Suất Không Kỳ Hạn
            </th>
            <th>
                Ngày Gửi
            </th>
            <th>
                Tiền Lãi
            </th>
            <th></th>
        </tr>
        @foreach (var item in db.STKs)
        {
            if (item.UserID == User.Identity.GetUserId() && item.TinhTrang == "Close")
            {
                <tr>
                    <td>
                        @item.NganHang
                    </td>
                    <td>
                        @item.SoTienGoc vnđ
                    </td>
                    <td>
                        @item.KyHanGui
                    </td>
                    <td>
                        @item.LaiSuat %
                    </td>
                    <td>
                        @item.LaiSuatKhongKyHan %
                    </td>
                    <td>
                        @item.NgayGui
                    </td>
                    <td>
                        @item.TienLai
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.IdSTK })
                        @*@Html.ActionLink("Sửa", "Edit", new { id = item.IdSTK }) |

                            @Html.ActionLink("Xóa", "Delete", new { id = item.IdSTK }) |
                            @Html.ActionLink("Tất Toán", "Tattoan", new { id = item.IdSTK })*@
                    </td>
                </tr>
            }

        }
    </table>
</div>
<div id="alertboxSucess" class="w3-modal" style="display:none">
    <div class="w3-modal-content login-panel panel panel-default w3-animate-zoom w3-light-gray" style="max-width:400px;margin-top:10%">
        <div class="w3-container">
            <section id="loginForm">
                <div class="">
                    <br>
                    <div class="">
                        <h4 class="">
                            MessageBox
                        </h4>
                        <hr />
                    </div>
                </div>

                <div class=" w3-container w3-padding">
                    <br>
                    <span class="w3-button w3-xlarge w3-transparent w3-display-topright" onclick="document.getElementById('alertbox').style.display ='none'">

                    </span>

                    <div class="form-group">
                        <div class="col-md-4">
                            <img src="~/Content/hinhanhgioithieu/sucess.png" class=" w3-margin-bottom w3-image" />
                        </div>

                        <div class=" col-md-8">
                            Success !
                            <p>@ViewBag.Message</p>
                        </div>
                    </div>
                    <button onclick="document.getElementById('alertboxSucess').style.display ='none'" class="btn btn-success btn-lg btn-block w3-margin-bottom" type="submit">
                        OK
                    </button>
                </div>
            </section>
        </div>

    </div>
</div>
<div id="alertboxFail" class="w3-modal" style="display:none">
    <div class="w3-modal-content login-panel panel panel-default w3-animate-zoom w3-light-gray" style="max-width:400px;margin-top:10%">
        <div class="w3-container">
            <section id="loginForm">
                <div class="">
                    <br>
                    <div class="">
                        <h4 class="">
                            MessageBox
                        </h4>
                        <hr />
                    </div>
                </div>

                <div class=" w3-container w3-padding">
                    <br>
                    <span class="w3-button w3-xlarge w3-transparent w3-display-topright" onclick="document.getElementById('alertbox').style.display ='none'">

                    </span>

                    <div class="form-group">
                        <div class="col-md-4">
                            <img src="~/Content/hinhanhgioithieu/error.png" class=" w3-margin-bottom w3-image" />
                        </div>
                        
                        <div class=" col-md-8">
                            Fail !
                            <p>@ViewBag.Message</p>
                        </div>
                    </div>
                    <button onclick="document.getElementById('alertboxFail').style.display ='none'" class="btn btn-danger btn-lg btn-block w3-margin-bottom" type="submit">
                        OK
                    </button>
                </div>
            </section>
        </div>

    </div>
</div>
@Html.Raw(TempData["AlertSuccess"])
@Html.Raw(TempData["AlertFail"])