﻿@model MoneyLoverTUBUI.STK

@{
    ViewBag.Title = "Tattoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tất Toán</h2>

@using (Html.BeginForm("Tattoaninput","STKs"))
{
    @Html.AntiForgeryToken()
    <div id="ThongBao" class="w3-modal" style="display:block">
        <div class="w3-modal-content login-panel panel panel-default w3-animate-zoom w3-light-gray" style="max-width:400px;margin-top:10%">
            <div class="w3-container">
                <section id="loginForm">
                    <div class="">
                        <br>
                        <div class="">
                            <h4 class="">
                                Confirm !!!
                            </h4>
                            <hr />
                        </div>
                    </div>

                    <div class=" w3-container w3-padding">
                        <br>
                        @Html.ActionLink("x", "Index", "STKs", new object { }, new { @class = "w3-button w3-xlarge w3-transparent w3-display-topright", @title = "Close Modal" })

                        <div class="form-group">
                            <img src="~/Content/hinhanhgioithieu/error.png" class="col-md-4 w3-margin-bottom w3-image" />
                            <div class=" col-md-8">
                                Tất toán sổ sớm lãi suất sẽ tính theo @Html.DisplayFor(model => model.LaiSuatKhongKyHan)%
                                Bạn có muốn tất toán không ?
                                <input class="@*w3-hide*@" name="id" value="@ViewBag.idstk"/>
                            </div>
                        </div>
                        <button class="btn btn-danger btn-lg btn-block w3-margin-bottom" type="submit">
                            OK
                        </button>
                    </div>
                </section>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
