﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated == true)
{
    Response.Redirect("~/STKs/Index",false);
}
    @{
        Layout = null;
    }

<!DOCTYPE html>
<html>
<title>Trang Giới Thiệu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/w3.css">
<style>
    .mySlides {
        display: none
    }

    .w3-left, .w3-right, .w3-badge {
        cursor: pointer
    }

    .w3-badge {
        height: 13px;
        width: 13px;
        padding: 0
    }
</style>
<body style="background-color:#0A7E07">
    <div class="w3-content w3-display-container" style="max-width:800px">
        <img class="mySlides" src="~/Content/hinhanhgioithieu/1.png" style="width:100%">
        <img class="mySlides" src="~/Content/hinhanhgioithieu/2.png" style="width:100%">
        <img class="mySlides" src="~/Content/hinhanhgioithieu/3.png" style="width:100%">
        <img class="mySlides" src="~/Content/hinhanhgioithieu/4.png" style="width:100%">
        <img class="mySlides" src="~/Content/hinhanhgioithieu/5.png" style="width:100%">

        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
            <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
            <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
        </div>


    </div>
    <div class="w3-content w3-display-container" style="max-width:800px">
        <div class="w3-container w3-margin">
            @Html.ActionLink("LẦN ĐẦU SỬ DỤNG PHẦN MỀM", "Register", "Account", null, htmlAttributes: new { @style = "color:white;background-color:#006600", @class = "w3-button w3-block w3-btn", @id = "btnDangKy" })
            @*<a  id="btnDangKy" class="w3-button w3-block w3-btn" style="color:white;background-color:#006600">LẦN ĐẦU SỬ DỤNG PHẦN MỀM</a>*@
            <br />
            @Html.ActionLink("ĐÃ CÓ TÀI KHOẢN EMAIL", "Login", "Account", null, htmlAttributes: new { @style = "color:#006600;background-color:white", @class = "w3-button w3-block w3-btn", @id = "btnDangNhap" })

            @*<a id="btnDangNhap" class="w3-button w3-block w3-btn" style="color:#006600;background-color:white">ĐÃ CÓ TÀI KHOẢN EMAIL</a>*@

        </div>
    </div>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
            if (slideIndex == 1) {
                document.body.style.backgroundColor = "#0A7E07";
                document.getElementById("btnDangKy").style.backgroundColor = "#006600";
                document.getElementById("btnDangNhap").style.color = "#006600";
            }
            else if (slideIndex == 2) {
                document.body.style.backgroundColor = "#2BAF2B";
                document.getElementById("btnDangKy").style.backgroundColor = "#008000";
                document.getElementById("btnDangNhap").style.color = "#008000";
            }
            else if (slideIndex == 3) {
                document.body.style.backgroundColor = "#039BE5";
                document.getElementById("btnDangKy").style.backgroundColor = "#005c99";
                document.getElementById("btnDangNhap").style.color = "#005c99";
            }
            else if (slideIndex == 4) {
                document.body.style.backgroundColor = "#0277BD";
                document.getElementById("btnDangKy").style.backgroundColor = "#0047b3";
                document.getElementById("btnDangNhap").style.color = "#0047b3";
            }
            else if (slideIndex == 5) {
                document.body.style.backgroundColor = "#FF9900";
                document.getElementById("btnDangKy").style.backgroundColor = "#cc7a00";
                document.getElementById("btnDangNhap").style.color = "#cc7a00";
            }

        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
            if (n == 1) {
                document.body.style.backgroundColor = "#0A7E07";
                document.getElementById("btnDangKy").style.backgroundColor = "#006600";
                document.getElementById("btnDangNhap").style.color = "#006600";
            }
            else if (n == 2) {
                document.body.style.backgroundColor = "#2BAF2B";
                document.getElementById("btnDangKy").style.backgroundColor = "#008000";
                document.getElementById("btnDangNhap").style.color = "#008000";
            }
            else if (n == 3) {
                document.body.style.backgroundColor = "#039BE5";
                document.getElementById("btnDangKy").style.backgroundColor = "#005c99";
                document.getElementById("btnDangNhap").style.color = "#005c99";
            }
            else if (n == 4) {
                document.body.style.backgroundColor = "#0277BD";
                document.getElementById("btnDangKy").style.backgroundColor = "#0047b3";
                document.getElementById("btnDangNhap").style.color = "#0047b3";
            }
            else if (n == 5) {
                document.body.style.backgroundColor = "#FF9900";
                document.getElementById("btnDangKy").style.backgroundColor = "#cc7a00";
                document.getElementById("btnDangNhap").style.color = "#cc7a00";
            }

        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
        setTimeout(showDivs(slideIndex), 3000);
        
    </script>

</body>
</html> 